In [16]:
from bareaccount import Journal

In [17]:
j = Journal.journal('test')

In [3]:
account = j.createAccount('account')

Account 'account' Created.

In [4]:
j.transaction(account,12,2)
j.show(account)

   ID  credit  debit  balance
0   1    12.0    2.0     10.0

In [5]:
j.getbalance(account)

10.0

In [10]:
print(j.listAccounts())

['Account', 'Accounts', 'my']

In [7]:
j.deleteAccount(account)

Account 'account' deleted.

In [13]:
[j.deleteAccount(x) for x in j.listAccounts()]

[]